/* Header.module.css */

.header .aside-toggle-container {
  z-index: 4;
}

.header .aside-toggle-container .aside-toggle {
  cursor: pointer;
}

.header form div {
  background-color: var(--primary);
  color: white;
}

.header .icon-search {
  cursor: pointer;
}

.header .btn {
  border-radius: 30px;
}

.header .btn-group {
  display: none;
  gap: 1%;
  display: flex;
}

.header .lang {
  display: none;
}

.header .lang.active {
  display: block;
  border-radius: 5px;
  text-align: center;
  position: absolute;
}

.header .btn-group.active {
  position: absolute;
  display: block;
  padding: 15px;
  width: 100%;
  background: silver;
  top: 0;
  left: 0;
  z-index: 3;
}
