/* Header.module.css */

.header form div {
  background-color: var(--primary);
  color: white;
}

.header .icon-search {
  cursor: pointer;
}
.header .aside-toggle {
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.header .btn-group {
  display: none;
}

.header .btn-group.active {
  position: absolute;
  display: block;
  padding: 15px;
  width: 100%;
  background: silver;
  top: 0;
  left: 0;
  z-index: 3;
}
