.titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 0;

  .img-h3 {
    display: flex;
    align-items: center;
  }

   .img-titre {
    object-fit: cover;
  }
  .icon-time {
    display: flex;
    align-items: center;
    p {
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
}
.titre .img-titre {
  width: 70px;
  height: 70px;
}
