.aside {
  display: none;

  &.active {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: silver;
    top: 0;
    z-index: 2;
  }
  .p-4 {
    height: 100%;
  }
  .aside-nav {
    width: 34%;
    margin: auto;
  }
}
